.list {
  width: 100%;
  height: 100%;
  margin: auto;
}
.list-item {
  margin: 0.5rem;
  display: flex;
  height: fit-content;
  gap: 1rem;
}
.confirmation {
  height: 100%;
}
.booking-events {
  background-color: #{$text-color};
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  max-height: 30vh;
  box-shadow: 0 1px 3px 1px #{$text-color2};
  position: sticky;
  top: 7rem;
  z-index: 1;
  overflow-y: scroll;
  .required {
    display: flex;
    justify-content: center;
  }
}
// .checkout-container {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: column;
//   justify-content: center;
//   background-color: #{$primary-color};
//   gap: 1rem;
//   padding: 1rem;
//   border-radius: 4px;
// }
