.confirmation {
  height: 100%;
}
.booking {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1rem;
}
.booking-events {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: #{$text-color};
  flex: 1;
  gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  top: 7rem;
  overflow-y: scroll;
  .required {
    display: flex;
    justify-content: center;
  }
  &:has(> .active) {
    .active {
      border-radius: 1rem;
      background-color: #{$primary-color};
      color: #{$text-color3};
      .read-more {
        &:has(+ .read-more-toggle:not(:checked))::before {
          background: linear-gradient(
            to bottom,
            transparent,
            #{$primary-color}
          );
        }
      }
    }
  }
  @include devices(mobile) {
    flex: auto;
  }
}
