header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #{$secondary-color};
  border-bottom: 1px solid #{$secondary-color2};
  position: sticky;
  top: 0;
  z-index: 2;
  .header-title {
    display: flex;
    justify-content: flex-start;
  }
}
.primary-navigation {
  position: relative;
  .navigation {
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    list-style: none;
    background-color: #{$primary-color2};
    border-radius: 4px;
    padding: 1rem;
    gap: 1rem;
    top: 100%;
    right: 0%;
    transition: clip-path ease-in-out 700ms;
  }
  .navigation[data-state="open"] {
    animation: circleOpen 750ms ease-in-out forwards;
    display: block;
  }
  .navigation[data-state="closing"] {
    display: block;
    animation: circleClose 750ms ease-in-out forwards;
  }
  .navigation[data-state="close"] {
    display: none;
  }
}
.secondary-navigation {
  display: flex;
  align-items: flex-start;
  background-color: #{$secondary-color};
  padding: 1rem 0.5rem;
  .list {
    overflow-y: auto;
  }
  .nav-link {
    padding: 0;
  }
}
.card-secondary {
  width: 100%;
  padding: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav-link {
  text-decoration: none;
  display: flex;
  padding: 0.5rem;
  flex: 1;
  position: relative;
}
.custom-btn-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: #{$primary-color2};
  border-radius: 4px;
  &:hover {
    background-color: #{$primary-color};
  }
}
.notification-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #{$danger};
  color: #{$primary-color};
  border-radius: 50%;
  padding: 0.35rem;
}
footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #{$secondary-color};
  border-top: 1px solid #{$secondary-color2};
  padding: 1rem;
  gap: 1rem;
}
.social-link {
  text-decoration: none;
}
.instagram {
  color: #ea4c52;
}

@keyframes circleOpen {
  0% {
    clip-path: circle(0% at top right);
  }
  100% {
    clip-path: circle(250% at top right);
  }
}
@keyframes circleClose {
  0% {
    clip-path: circle(250% at top right);
  }
  100% {
    clip-path: circle(0% at top right);
  }
}
