.log {
  display: flex;
  text-align: center;
  position: fixed;
  z-index: 9;
  gap: 1rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #{$text-color};
  border-radius: 1rem;
  .message {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 1rem;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: #{$success};
    animation: fadeIn 1s, slideUp 0.8s forwards;
    .link {
      color: #{$text-color};
      margin: 0 0.25rem;
    }
  }
  .error-message {
    background-color: #{$danger};
  }
}
.close {
  box-shadow: none;
  background: transparent;
  position: relative;
  .icon {
    position: absolute;
    animation-duration: 7s;
  }
  &:hover {
    background: transparent;
  }
}
