.log {
  display: flex;
  text-align: center;
  position: fixed;
  min-width: 300px;
  gap: 1rem;
  top: 30%;
  // right: 40%;
  z-index: 9;
  padding: 1rem 2rem;
  color: #{$text-color};
  border-radius: 1rem;
  .message {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #{$success};
    animation: fadeIn 1s, slideUp 0.8s forwards;
    .link {
      color: #{$text-color};
      margin: 0 0.25rem;
    }
  }
  .error-message {
    background-color: #{$danger};
  }
}
.message {
  // display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
