.log {
  display: flex;
  position: fixed;
  gap: 1rem;
  top: 30%;
  right: 40%;
  z-index: 9;
  padding: 1rem 2rem;
  color: #{$text-color};
  border-radius: 1rem;
  .message {
    width: 100%;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #{$success};
    animation: fadeIn 1s, slideUp 0.8s linear;
  }
  .error-message {
    background-color: #{$danger};
  }
}
