.btn-primary {
  background-color: #{$primary-color};
  color: #{$text-color};
  flex: 1;
  box-shadow: 0 0 3px 0px #{$shadow-color2};
  &:hover {
    background-color: #{$primary-color2};
    color: #{$text-color};
  }
  &:disabled {
    background-color: #{$primary-color3};
    color: #{$text-color};
  }
  &:focus {
    background-color: #{$primary-color2};
    color: #{$text-color};
  }
}
.btn-secondary {
  box-shadow: none;
  position: absolute;
  background-color: #{$third-color};
  color: #{$text-color};
  right: 0;
  padding: 1rem;
  bottom: 3rem;
  &:hover {
    background-color: #{$secondary-color};
    color: #{$text-color};
  }
  &:disabled {
    background-color: #{$secondary-color2};
    color: #{$text-color};
  }
  &:focus {
    background-color: #{$secondary-color};
    color: #{$text-color};
  }
}
.btn-icons {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  justify-content: flex-start;
  background-color: #{$secondary-color2};
  .icon {
    min-width: 1rem;
  }
  .icon-label {
    flex: 1;
    text-align: left;
  }
  .notification-count {
    top: -0.5rem;
    right: -0.5rem;
  }
}
.custom-btn-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: #{$primary-color2};
  border-radius: 4px;
  &:hover {
    background-color: #{$primary-color};
  }
}
.btn-classic {
  background-color: #{$secondary-color};
}
.btn-cancel {
  position: absolute;
  top: -0.5rem;
  right: 0;
  border-radius: 50%;
  background-color: #{$danger};
}
.btn-search {
  padding: 0.5rem;
  margin: auto;
  color: #{$text-color};
  &:hover {
    background-color: #{$primary-color2};
    color: #{$text-color};
  }
  &:disabled {
    background-color: #{$primary-color3};
    color: #{$text-color};
  }
}
.green-btn {
  background-color: #{$success-color};
}
.btn-back {
  background-color: #{$secondary-color};
}
.btn-danger {
  background-color: #{$danger};
  color: #{$text-color};
}
.btn {
  flex: 1;
  display: flex;
  gap: 1rem;
}
