.card {
  @include card();
  flex: 1;
  // width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: #{$text-color};
  &:has(> .ribbon) {
    position: relative;
    border-color: #{$shadow-color2};
    box-shadow: 0 1px 5px 1px #{$shadow-color2};
    color: #{$shadow-color2};
  }
  // &:has(> .card-body) {
  //   .card-body {
  //     height: 100%;
  //   }
  // }
}
.card-header {
  display: flex;
  flex-direction: column;
  flex: 1;
  .title {
    text-align: center;
  }
}
.card-body {
  display: flex;
  flex: 1;
  // flex-direction: column;
  // justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  // .sub-title {
  //   // text-align: left;
  //   display: flex;
  //   justify-content: flex-start;
  // }
  &:has(> .btn-primary) {
    justify-content: space-between;
    .btn-primary {
      flex: none;
    }
  }
}
.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  gap: 1rem;
  .card-section-header {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    .icons {
      background-color: #{$text-color};
      color: #{$secondary-color};
    }
  }
  .card-section-title {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
}
.card-footer {
  width: 100%;
  margin: auto;
}

.container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  // padding: 1rem;
  @include devices(mobile) {
    .card {
      width: 100%;
    }
  }
}
