.primary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #{$text-color};
  min-height: 60vh;
  gap: 1rem;
  padding: 1rem;
  @include devices(mobile) {
    flex: 0 0 100%;
    width: auto;
  }
}
.secondary-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #{$text-color};
  min-height: 60vh;
  gap: 1rem;
  padding: 1rem;
  @include devices(mobile) {
    width: auto;
  }
}
.children {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #{$text-color};
  gap: 1rem;
}
