.row-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  padding: 1rem;
  &:hover {
    background-color: #{$secondary-color};
    .card-row {
      background-color: #{$primary-color};
    }
    .read-more {
      &:has(+ .read-more-toggle:not(:checked))::before {
        background: linear-gradient(to bottom, transparent, #{$primary-color});
      }
    }
  }
}
.card-row-wrapper {
  position: relative;
  display: flex;
  // justify-content: ;
  .cost {
    text-align: right;
    width: 100%;
  }
}
.card-row {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: transparent;
  box-shadow: none;
  color: #{$text-color3};
  gap: 1rem;
  border-radius: 1rem;
  .card-row-heading {
    display: flex;
    // flex-wrap: wrap;
  }
  @include devices(mobile) {
    .card-header {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &:hover {
    background-color: #{$primary-color};
    .read-more {
      &:has(+ .read-more-toggle:not(:checked))::before {
        background: linear-gradient(to bottom, transparent, #{$primary-color});
      }
    }
  }
}
.card-row-footer {
  padding: 0.5rem;
  margin: auto;
}
