.card-row-wrapper {
  position: relative;
  min-width: 250px;
  .cost {
    text-align: right;
    padding: 0 1rem;
  }
}
.card-row {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  background-color: transparent;
  box-shadow: none;
  color: #{$text-color3};
  gap: 1rem;
  @include devices(mobile) {
    .card-header {
      flex-direction: row;
      gap: 1rem;
    }
  }
  &:hover {
    background-color: #{$primary-color};
    .read-more {
      &:has(+ .read-more-toggle:not(:checked))::before {
        background: linear-gradient(to bottom, transparent, #{$primary-color});
      }
    }
  }
}
.card-row-footer {
  padding: 0.5rem;
  margin: auto;
}
