.card-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-width: 150px;
  gap: 1rem;
  .read-more {
    text-align: left;
  }
}
.card-section-header {
  display: flex;
  gap: 1rem;
  .icons {
    background-color: #{$text-color};
    color: #{$secondary-color};
  }
}
.card-section-title {
  display: flex;
  // text-transform: uppercase;
  letter-spacing: 4px;
}
.card-section-subtitle {
  display: flex;
  letter-spacing: 4px;
}
.secondary-card-section {
  padding: 1rem;
}
.card-section-row {
  display: flex;
  gap: 1rem;
  .cost {
    min-width: fit-content;
    padding: 0 1rem;
  }
}
