.list {
  height: 100%;
  margin: auto;
}
.list-item {
  margin: 0.5rem;
  display: flex;
  height: fit-content;
  gap: 1rem;
}
.confirmation {
  height: 100%;
}
.booking-events {
  background-color: #{$primary-text-color};
  padding: 1rem;
  border-radius: 4px;
  width: 100%;
  // max-height: 300px;
  position: sticky;
  top: 4rem;
  z-index: 1;
  overflow-y: scroll;
}
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  background-color: #{$primary-text-color};
  gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
}
.checkout-card {
  display: flex;
  align-items: flex-start;
  border-bottom: dotted 1px #{$secondary-text-color};
  gap: 1rem;
  width: 100%;
  padding-bottom: 0.5rem;
  .checkout-wrapper {
    display: flex;
    gap: 1rem;
    .checkout-description {
      width: 100%;
    }
  }
  .photo-accessory {
    height: 50px;
    width: 50px;
  }
  @include devices(mobile) {
    flex-wrap: wrap;
  }
}
