.react-calendar {
  background-color: $secondary-bg-color;
  color: $primary-text-color;
  margin: 1rem;
}
.react-calendar__navigation {
  background-color: $secondary-bg-color-hover;
}
.react-calendar__tile {
  cursor: pointer;
  padding: 2rem 0;
  background-color: $secondary-bg-color;
  color: $primary-text-color;
  border: none;
  &:hover {
    background-color: $active-bg-color-hover;
    border-radius: 4px;
  }
  &:disabled {
    background-color: $secondary-bg-color;
    color: $primary-text-color-disable;
    cursor: not-allowed;
  }
}

.react-calendar__navigation__label,
.react-calendar__navigation__arrow {
  background-color: $secondary-bg-color-hover;
  color: $primary-text-color;
  border: none;
  cursor: pointer;
  font-size: larger;
  padding: 2rem;
}
.react-calendar__navigation__arrow {
  &:hover {
    background-color: $active-bg-color-hover;
  }
  &:disabled {
    color: $primary-text-color-disable;
    cursor: not-allowed;
  }
}
.react-calendar__navigation__label__labelText {
  color: $primary-text-color;
}
