.react-calendar {
  background-color: $secondary-bg-color;
  color: $primary-text-color;
  flex: 1;
  @include devices(mobile) {
    width: 100%;
  }
}
.react-calendar__navigation {
  background-color: $secondary-bg-color-hover;
  display: flex;
  border-radius: 4px;
  border: none;
  height: 100px;
}
.react-calendar__tile {
  position: relative;
  cursor: pointer;
  padding: 2rem 0;
  background-color: $secondary-bg-color;
  color: $primary-text-color;
  &:hover {
    background-color: $active-bg-color-hover;
  }
  &:disabled {
    background-color: $secondary-bg-color;
    color: $primary-text-color-disable;
    cursor: not-allowed;
  }
  .match {
    background-color: $danger;
    position: absolute;
    top: 1px;
    right: 1px;
    border-radius: 100%;
    width: fit-content;
    padding: 5px;
    // z-index: 1;
  }
}
.react-calendar__month-view__weekdays {
  color: $secondary-text-color;
}
.react-calendar__navigation__arrow {
  cursor: pointer;
  &:hover {
    background-color: $active-bg-color-hover;
  }
  &:disabled {
    color: $primary-text-color-disable;
    cursor: not-allowed;
  }
}
.react-calendar__navigation__label {
  color: $primary-text-color;
  &:hover {
    background-color: $secondary-bg-color-hover;
  }
  &:disabled {
    cursor: default;
  }
}
