.form {
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: $primary-text-color;
  gap: 1rem;
  padding: 1rem;
  border-radius: 4px;
  input,
  textarea {
    background-color: $primary-bg-color;
    border-bottom: 2px solid $secondary-bg-color;
    box-sizing: border-box;
    border: none;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}
.required {
  color: red;
  border: red;
}
.form-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
