.gallery-photos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
}
.gallery-photo {
  padding: 1rem;
  flex: 1;
  min-width: 200px;
  text-align: right;
  position: relative;
  overflow: hidden;
  &:has(> .ribbon) {
    position: relative;
    border-color: #{$primary-shadow-color};
    box-shadow: 0 1px 5px 1px #{$primary-shadow-color};
    color: #{$primary-shadow-color};
  }
}
.photo {
  border-radius: 4px;
  width: 100%;
}
.photo-accessory {
  border-radius: 1rem;
  max-height: 250px;
  width: 100%;
}
