.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: 1px solid $secondary-bg-color-hover;
}
.header-title {
  border-radius: 4px;
  padding: 1rem;
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav-link {
  text-decoration: none;
  display: flex;
  padding: 0.5rem;
  flex: 1;
}
.footer {
  border-top: 1px solid $secondary-bg-color-hover;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
