header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  background-color: $secondary-bg-color;
  border-bottom: 1px solid $secondary-bg-color-hover;
  position: relative;
  @include devices(mobile) {
    z-index: 1;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    width: 100%;
  }
}
.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  @include devices(mobile) {
    display: none;
  }
}
.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $primary-bg-color-hover;
  position: absolute;
  width: 50%;
  top: 4rem;
  right: 2rem;
  padding: 1rem;
  z-index: 1;
  animation: slide-left 0.5s ease-in;
}
.nav-link {
  text-decoration: none;
  display: flex;
  padding: 0.5rem;
  flex: 1;
  position: relative;
}
.notification-count {
  top: 0;
  right: 0.2rem;
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: $danger;
  color: $primary-text-color;
  border-radius: 50%;
  padding: 0.2rem;
}
.burger {
  display: none;
  flex: none;
  @include devices(mobile) {
    display: block;
    position: relative;
    .notification-count {
      top: -0.25rem;
      right: -0.25rem;
    }
  }
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  border-top: 1px solid $secondary-bg-color-hover;
  padding: 1rem;
  gap: 1rem;
}
.social-link {
  text-decoration: none;
}
.instagram {
  color: #ea4c52;
}
