header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #{$secondary-bg-color};
  border-bottom: 1px solid #{$secondary-bg-color-hover};
  position: sticky;
  top: 0;
  z-index: 2;
}
.primary-navigation {
  position: relative;
}
.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  list-style: none;
  background-color: #{$primary-bg-color-hover};
  border-radius: 4px;
  padding: 1rem;
  gap: 1rem;
  top: 100%;
  right: 0%;
  transition: clip-path ease-in-out 700ms;
}
.navigation[data-state="open"] {
  animation: circleOpen 750ms ease-in-out forwards;
  display: block;
}
.navigation[data-state="closing"] {
  display: block;
  animation: circleClose 750ms ease-in-out forwards;
}
.navigation[data-state="close"] {
  display: none;
}
.navbar {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}
.nav-link {
  text-decoration: none;
  display: flex;
  padding: 0.5rem;
  flex: 1;
  position: relative;
}
.custom-btn-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: #{$primary-bg-color-hover};
  border-radius: 4px;
  &:hover {
    background-color: #{$primary-bg-color};
  }
}
.notification-count {
  position: absolute;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #{$danger};
  color: #{$primary-text-color};
  border-radius: 50%;
  padding: 0.35rem;
}
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #{$secondary-bg-color};
  border-top: 1px solid #{$secondary-bg-color-hover};
  padding: 1rem;
  gap: 1rem;
}
.social-link {
  text-decoration: none;
}
.instagram {
  color: #ea4c52;
}

@keyframes circleOpen {
  0% {
    clip-path: circle(0% at top right);
  }
  100% {
    clip-path: circle(250% at top right);
  }
}
@keyframes circleClose {
  0% {
    clip-path: circle(250% at top right);
  }
  100% {
    clip-path: circle(0% at top right);
  }
}
