table {
  margin: auto;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
th,
td {
  padding: 5px 10px;
}
tr {
  border-bottom: 1px solid #ccc;
}
thead th {
  border-bottom: 2px solid #ddd;
}

/* You will need to display:none the duplicated header in responsible-table-item*/

tr.responsive-table-item .responsive-table-cell {
  display: none;
}

/* Add screen proportion or class when break occurs */

@media (max-width: 400px) {
  /* Hide table headers */
  .table-header {
    display: none;
  }
  tr.responsive-table-item {
    display: block;
  }
  tr.responsive-table-item .responsive-table-cell {
    display: inline-block;
  }
  tr.responsive-table-item td:first-child {
    background-color: #ccc;
    display: block;
    text-align: center;
    width: 100%;
  }
  tr.responsive-table-item td,
  tr.responsive-table-item th {
    display: inline-block;
    width: calc(50% - 22px);
    /* Cell Border + padding*/
    word-break: break-all;
    vertical-align: top;
  }
}
