/**
for more options check out 
https://kdesign.co/blog/girly-color-palettes/

this project is going to use the Unicorn glow color palette
*/

// background color
$primary-bg-color: #fae7eb;
$primary-bg-color-hover: #f2d7e8;
$secondary-bg-color: #d8bbd3;
$secondary-bg-color-hover: #b58ebc;
$active-bg-color: #ecf8f7;
$active-bg-color-hover: #d1edea;
// text color
$primary-text-color: white;
$primary-text-color-hover: #333;
$primary-text-color-disable: gray;
$secondary-text-color: #333;
$secondary-text-color-hover: white;
