/**
for more options check out 
https://kdesign.co/blog/girly-color-palettes/

this project is going to use the Unicorn glow color palette
*/

// background color
$primary-bg-color: #fae7eb;
$primary-bg-color-hover: #f2d7e8;
$secondary-bg-color: #d8bbd3;
$secondary-bg-color-hover: #b58ebc;
$active-bg-color: #feef7b;
$active-bg-color-hover: #d3c454;
$danger: red;

// text color
$active-text-color: #459be2;
$primary-text-color: white;
$primary-text-color-hover: #333;
$primary-text-color-disable: gray;
$secondary-text-color: #333;
$secondary-text-color-hover: white;

// box shadow color
$primary-shadow-color: purple;
$secondary-shadow-color: #bb96c2;
