@keyframes slide-left {
  0% {
    overflow: hidden;
    transform: translateX(200px);
  }
  100% {
    overflow: hidden;
    transform: translateX(0px);
  }
}
@mixin card() {
  display: flex;
  padding: 1rem;
  gap: 1rem;
  box-shadow: 0 1px 5px 1px #{$shadow-color};
  border-radius: 4px;
}
@keyframes circleOpen {
  0% {
    clip-path: circle(0% at top right);
  }
  100% {
    clip-path: circle(250% at top right);
  }
}
@keyframes circleClose {
  0% {
    clip-path: circle(250% at top right);
  }
  100% {
    clip-path: circle(0% at top right);
  }
}
